.add-cell {
  position: relative;
  margin: 10px 0;
  padding: 10px 0;
  opacity: 0;
  transition: .3s opacity ease-in .1s;
}

.force-visible {
  opacity: 1;
}

.add-cell:hover {
  opacity: 1;
}

.add-divider {
  position: absolute;
  top: 50%;
  bottom: 50%;
  border-bottom: 1px solid gray;
  right: 3%;
  left: 3%;
  z-index: -1;
}

.add-buttons {
  display: flex;
  justify-content: center;
}

.add-buttons button {
  margin: 0 40px;
}